---
title: Template
topics:
  - one
  - two
  - three
duration: 2 hours
pupil_level: beginner
---


<h2><%= current_page.data.fetch("title"){""}.to_s %></h2>
<div>Topics: <%= current_page.data.fetch("topics"){[]}.join(", ") %></div>
<div>Duration: <%= current_page.data.fetch("duration"){""}.to_s %></div>
<div>Pupil Suggested Experience: <%= current_page.data.fetch("pupil_level"){""}.to_s %></div>
