@import vars
@import responsive

=normal-text
  font-family: $monospace-font-family
  +responsive(small)
    font-size: 10px
  +responsive(medium large)
    font-size: 15px
  @media print
    font-size: 12px

.course
  +normal-text

.course-header
  overflow: hidden // clearfix
  .course-title
    float: left
    margin: $gap 0
    font-weight: bold
    text-decoration: none
    +responsive(small)
      font-size: 12px
    +responsive(medium large)
      font-size: 24px
  .home-link
    @extend .course-title
    float: right

.course-footer
  margin: 3*$gap 0
  padding: $gap 0
  border-top: 1px solid black

  .footer-title
    +normal-text
    margin: 0

.course-links
  list-style: none
  padding: 0
  li
    line-height: 1.4
  a
    &:before
      content: '>> '
