@import vars

.course
  font-family: monospace
  font-size: 12px

  .course-title
    float: left

  .course-header
    overflow: hidden // clearfix
    h2, .home-link
      font-size: 2em
      margin: $gap 0
      font-weight: bold

  .home-link
    float: right
    text-decoration: none

