@import compass/css3/transform
@import vars
@import responsive

$title-font: $monospace-font-family
$pretty-band-height: $gap*5

.page-header
  text-align: center

  +responsive(medium large)
    margin: $big-gap 0
  a
    color: inherit
    text-decoration: none

  .title
    margin: $big-gap 0
    font-family: $title-font
    line-height: 1
    +responsive(small)
      font-size: 2em
    +responsive(medium)
      font-size: 3em
    +responsive(large)
      font-size: 4em

  .subtitle
    font-family: $title-font
    color: $fg-muted-color
    margin: $big-gap 0
    +responsive(small)
      display: none
    +responsive(medium large)
      &:before
        content: '// '

.page-nav
  font-family: $title-font
  color: $fg-muted-color
  +responsive(small)
    padding-bottom: $gap
    border-bottom: 3px solid black
    line-height: 2em
  a
    +responsive(medium large)
      &:before
        content: '| '
      &:first-child:before
        content: ''

    &:active, &:hover, &.active
      color: #000

  +responsive(medium large)
    margin: $big-gap 0

.page-footer
  border-top: 1px dashed $fg-muted-color
  color: $fg-muted-color
  font-size: 0.8rem
  margin-top: 2*$gap
  overflow: hidden // clearfix
  padding-top: 2*$gap
  text-transform: lowercase

  .copyright
    text-align: right
    img
      vertical-align: middle

  a
    color: $fg-muted-color
    &:hover
      color: darken($fg-muted-color, 10%)

  .left
    float: left

  .right
    float: right

.info-page
  position: relative
  padding-top: $pretty-band-height
  padding-bottom: $gap*5
  &:before
    content: ''
    position: absolute
    z-index: -1
    width: 100%
    height: $pretty-band-height
    top: 0
    background-image: url(../images/3060133.png)
    background-repeat: repeat-x
    border-bottom: 7px solid black
