<div class="page-footer">
  <div class="left">
    <a href="http://www.colourlovers.com/pattern/306013/(◕〝◕)" target="_blank">Background by sugar!</a>
  </div>
  <div class="right">
    <%= partial 'layouts/copyright' %>
  </div>
</div>
