<nav class="page-nav">
  <%= nav_link 'About', '/index.html' %>
  <%= nav_link 'Mentors', '/mentors.html' %>
  <%= nav_link 'Students', '/students.html' %>
  <%= nav_link 'Topics', '/topics.html' %>
</nav>
