<nav class="page-nav">
  <%= nav_link 'Courses', '/index.html' %>
  <%= nav_link 'About', '/about.html' %>
  <%= nav_link 'Mentors', '/mentors.html' %>
  <%= nav_link 'Students', '/students.html' %>
</nav>
