<nav>
  <ul>
    <li><%= link_to 'Home', url_for('/index.html') %></li>
    <li><%= link_to 'Holding a microcourse', url_for('/holding-a-microcourse.html') %></li>
    <li><%= link_to 'Courses', url_for('/courses.html') %></li>
  </ul>
</nav>
