### RailsGirls Sydney, 16 Nov 2013

Dear RailsGirls attendees,

If you are visiting this page because **Elle put the link on the projector**,
welcome! There is not a lot for you here yet, but I am super interested to know
all the things you find confusing. More specifically **I want to hear all of
your "dumb" questions**. Such questions are supremely valuable to me as a
person who writes teaching material for programmers. They help me get into
your headspace and re-assess all the things I take for granted.

So if you feel adventurous, **please visit the following link** and type in any
"dumb" questions you have while you are learning programming Ruby on Rails.
They are not dumb. They will really help!

Thanks!

https://github.com/puyo/microcourses/issues/new

Regards,<br>
<a href="https://twitter.com/gregmcintyre">@gregmcintyre</a>

### What is a microcourse?

A **microcourse** is a 1-2 hour computer programming course involving a mentor and
one or two students, with a tight focus on one topic that is of specific interest
or value to the students.

The resources available here are **for mentors**. They are designed for
printing and photocopying so that they can be conveniently stored and used at
programming related events (such as RailsGirls and RailsCamp) and passed on by
one student to another, with minimal preparation time.

These microcourses are intended to complement university education, online
courses, commercial courses, industry training and self study, by facilitating
and encouraging **fun and productive mentoring**.

We believe that mentoring relationships can set students in the right
direction, bridge gaps in educational offerings, and fill or consolidate areas
of knowledge for programmers, whether they are experienced or not.


### Topics

These are a real work in progress! If you would like to contribute, you are
invited to join our fledgeling microcourse workshop community at
<%= data.project.repo %>

<% sitemap.resources.each do |page| %>
  <% if page.data.published != false and page.path.start_with?('courses/') %>
  * <%= link_to page.data.title, url_for(page) %>
  <% end %>
<% end %>
