---
title: Topics
---

These are a real work in progress! If you would like to contribute, you are invited to join our fledgeling <%= link_to 'microcourse community', data.project.repo + 'issues/' %>.

<% streams.each do |stream| %>
  <h4><%= stream.titlecase %></h4>
  <ul>
  <% course_pages(stream).each do |page| %>
  <li><%= link_to page.data.title, url_for(page) %>
  <% end %>
  </ul>
<% end %>
